body {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

#product-overview {
  background: #ff1b68;
}

.section-title {
  color: #2ddf5c;
}

/* ! Direct Child Case */

#product-overview > h1 {
  color: wheat;
  font-family: 'Anton', sans-serif;
  font-size: 20px;
}

h1 {
  font-family: sans-serif;
}
